.dateselect{
    text-align: center;
    font-family:sans-serif;
    background-color: brown;

}
body{
    text-align: center;
  background-color: #1E6091;
  margin: 0px;
  width: 100vw;
height: 100vh;

}
*{
  font-family: sans-serif;
  font-optical-sizing: auto;
  font-weight: 504;
  font-style: normal;
  text-align: center;
}

.head
{
  background-color: transparent;
color:#000814;
text-align:center;
vertical-align:text-top;
font-size:8vmin;
font-family:'Raleway',sans-serif;
letter-spacing:0.2315vmin;
/* display: flex;
align-items: center;
justify-content: center; */
border-style:hidden;
outline:none;
font-weight:bold;
z-index: 2;
position: relative;
top:1rem;
transition: all ease 200ms ;

}

.barcode
{
color:rgba(24, 78, 119, 0.5);
text-align:center;
vertical-align:text-top;
font-size:28.75vmin;
font-family:'Libre Barcode 128';
letter-spacing:-5px;
border-style:hidden;
outline:none;
top: -12vmin;
margin-top: 0px;
position: relative;
z-index: -1;
transition: all ease-out 200ms;
}

.back
{
  background-color:transparent;
  color:rgba(1, 16, 9, 0.07000000029802322);
text-align:center;

font-size: 200vmin;
font-family:'Raleway', sans-serif;
font-weight:400;
position:absolute;
left: -3vmin;
top: -64vmin;
z-index: -5;
width: 227vmin;
height: 164vmin;
overflow-y: hidden;
overflow-x: hidden;  
transition: all ease ;

}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

body {
  scrollbar-width: none;
}



.frame2
{ 
padding-left:3px;
padding-right:3px;
display:flex;
gap:20px;
position:absolute;
align-self:center;
transition: all ease 200ms ;

}

.baapFrame{

display:flex;
flex-direction:row;
gap:1rem;
height: 20rem;
position:relative;
justify-content: center;
align-items: center;
transition: all ease 200ms ;

}

.numbers
{

color:#ffffff;
text-align:center;
font-size:10rem;
font-family:'Anton';
letter-spacing:2px;
border-style:hidden;
outline:none;
width:40vmin;
position:relative;
transition: all ease 200ms ;

}


.frame4{

  font-family:'Anton';
  display: flex;
  align-items:center;
  position: relative;
  top: 7rem;
  justify-content: center;
  width: 170vmin;
  align-self:center;

  transition: all ease 200ms ;
}

.text{

color:#00ffff;
text-align:center;
font-size:2.25rem;
font-family:'Anton';
letter-spacing:1px;
border-style:hidden;
outline:none;
width:45vmin;
position:relative;
transition: all ease 200ms ;
}

.top{
  top: 1rem;
  height: 10rem;
}


#Hours{
  color: #93FF91;
}

#Minutes{
  color: #62EE60;
}

#Seconds{
  color: #68E82C;
}

#footer{
  transition: all ease 200ms ;
  text-align: center;
  position: absolute;
  bottom:5vmin;
  font-size: 4vmin;
  color: white;
  font-family: 'Raleway';
  font-weight: 300;
}

.hide{
  visibility: hidden;
}
.remove{
  display: none;
}

#submit{
  width: 40vmin;
  padding: 1vmin 2vmin 1vmin 2vmin ;
  margin: 2vmin;
  color:#000814;
  font-size: 3vmin;
  background-color: transparent;
  border: solid 0.4vmin black;
font-family: 'Raleway', sans-serif;
font-weight: 500;
  border-radius: 2vmin;
  cursor:pointer;
  transition: all ease 200ms ;
  
}

#submit:hover{
  width: 40vmin;
  padding: 1vmin 2vmin 1vmin 2vmin ;
  margin: 2vmin;
  color:white;
  font-size: 3vmin;
  background-color: #12A0B3;
  border: solid 0.4vmin rgb(0, 0, 0);
font-family: 'Raleway', sans-serif;
font-weight: 500;
  border-radius: 2vmin;
  cursor:pointer;
}

#submit:active{
  width: 40vmin;
  padding: 1vmin 2vmin 1vmin 2vmin ;
  margin: 2vmin;
  color:rgba(0, 0, 0, 0);
  font-size: 3vmin;
  background-color: #ffffff00;
  border: solid 0.4vmin rgba(0, 0, 0, 0);
font-family: 'Raleway', sans-serif;
font-weight: 500;
  border-radius: 2vmin;
  cursor:pointer;
}

input{
  background-color: #12A0B3;
  color: #000814;
  border: solid 0.4vmin black;
  border-radius: 2vmin;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 3vmin ;
  padding: 1vmin 2vmin 1vmin 2vmin;
    transition: all ease 200ms ;
  
  width: 35vmin;

}

.form{
position: relative;
top:-1vmin;

}

input:hover{
  color: rgba(255, 255, 255, 0.827);
  border: solid 0.4vmin black;
  border-radius: 2vmin;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 3vmin ;
  padding: 1vmin 2vmin 1vmin 2vmin;
    transition: all ease 200ms ;
  
  width: 35vmin;

}

footer{
  display: flex;
  justify-content: center;

}
